{% extends 'base.html' %}
{% block content %}

<section class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header"><i class="fab fa-wpforms"></i> {{ title }} Form</h5>
                <div class="card-body">
                    <form method="post" class="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-2">
                                {{ field.label_tag }}
                                {{ field }}
                                <span class="small" style="position:absolute;right:5px;">{{ field.help_text }}</span>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-outline-info button"><i class="fas fa-angle-right"></i> {{ title }} <i class="fas fa-angle-left"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
